beautifulsoup4
matplotlib
mpl-finance
newscatcher
numpy
opencv-python
pandas
pandas-ta
pip
plotly
python-vlc
pyttsx3
pywin32
requests
selenium
setuptools
SoundFile==0.10.3.post1
SpeechRecognition
twilio
urllib3
wheel
wikipedia
wolframalpha